
    <h1 class="title">Benefice par produit</h1>
    <form action="" method="">
        <p>min:
            <input type="number" name="min">
        </p>
        <p>max:
            <input type="number" name="max">
        </p>
        <p><input type="submit" value="Rechercher"></p>
    </form>
    <p>
<table>
    <tr>
        <th>type</th>
        <th>taille</th>
        <th>type look</th>
        <th>benefice</th>
    </tr>
    <tr th:each="benef : ${benefices}">
        <td th:text="${benef.type}"></td>
        <td th:text="${benef.taille}"></td>
        <td th:text="${benef.look}"></td>
        <td th:text="${benef.benefice}"></td>
    </tr>
</table>
    </p>
