<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creation-look</title>
    <link rel="stylesheet" href="bootstrap.css" />
  </head>
  <body>
    <h3>Creation look</h3>
    <form th:action="@{/looks/insert}" method="post">
      <label for="nom">Nom: </label>
      <input type="text" name="nom" /> <br />
      <label for="ref">Ref: </label>
      <input type="text" name="ref" /> <br />
      <label for="matieres">Matières</label>
      <input
        type="checkbox"
        name="matieres[]"
        th:each="matiere : ${matieres}"
        th:text="${matiere.nom}"
        th:value="${matiere.id}"
      />
      <!-- M1 <input type="checkbox" name="matieres" /> M1
      <input type="checkbox" name="matieres" /> M2
      <input type="checkbox" name="matieres" /> M3 -->
      <br />
      <input type="submit" value="Valider" />
    </form>
  </body>
</html>

