<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
     content="width=device-width, initial-scale=1.0">
    <title>Matieres</title>
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
    <p>
        <form method="get" th:action="@{/matieres/look}" enctype="multipart/form-data">
            <label for="lists" style="font-size: 17px;">Look: </label>
            <select name="idLook" style="margin-right: 22px;">
                <option value="" th:each="look :${looks}" th:value="${look.id}" th:text="${look.nom}"></option>
            </select>
            <input type="submit" value="Rechercher">
        </form>
    </p>
    <table>
        <tr>
            <th>id</th>
            <th>nom</th>
            <th>ref</th>
        </tr>
        <tr th:each="matiere : ${matieres}">
            <td th:text="${matiere.id}"></td>
            <td th:text="${matiere.nom}"></td>
            <td th:text="${matiere.ref}"></td>
        </tr>
    </table>
</body>
</html>