<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sacs</title>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <div class="divForm">
      <h3><u>Stock matière</u></h3>
      <div class="row">
        <table class="table table-striped mytable">
          <tr>
            <th>Matière</th>
            <th>Quantité restante</th>
          </tr>
          <tr th:each="stock : ${stocks}">
            <td th:text="${stock.nomMatiere}"></td>
            <td th:text="${stock.qteRestant}"></td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
