<div class="divForm">
    <h3><u>Ajout de sac</u></h3>
    <form action="" method="post">
        <label for="nom">Nom:</label>
        <input type="text" name="nom" id="nom"> <br>

        <label for="type">Type:</label>
        <select name="type" id="type"></select> <br>

        <label for="taille">Taille:</label>
        <select name="taille" id="taille"></select> <br>

        <label for="look">Look:</label>
        <select name="look" id="look"></select> <br>

        <button type="submit" class="btn btn-primary">Créer</button> 
    </form>
</div>